/* ---| No helpers defined in cell.yaml |--- */
/* ---| Cells |--- */
.Bd\(s\,\.1rem\,black\) {border: solid .1rem black;}
.Bgc\(black\)\:h:hover {background-color: black;}
.Bgc\(white\) {background-color: white;}
.Bxz\(bb\) {box-sizing: border-box;}
.C\(white\)\:h:hover {color: white;}
.Cur\(p\) {cursor: pointer;}
.D\(b\) {display: block;}
.H\(100\%\) {height: 100%;}
.M\(0\) {margin: 0;}
.Maw\(30rem\) {max-width: 30rem;}
.Mih\(2rem\) {min-height: 2rem;}
.Mt\(1rem\) {margin-top: 1rem;}
.Mx\(a\) {margin-left: auto; margin-right: auto;}
.Ov\(h\) {overflow: hidden;}
.P\(\.5rem\) {padding: .5rem;}
.W\(100\%\) {width: 100%;}
.W\(4rem\) {width: 4rem;}
